@import "tailwindcss";


body {
  min-width: 61rem;
}
@font-face {
  font-family: 'Signature';
  src: url('/fonts/Signature.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {  --color-gold: #ffd070;  --color-bronze: #CD7F32;  --color-bermuda: #78dcca;}


@keyframes gradient-flow {
  0% {
    background-position: 0% 0%;
    background-size: 200% 200%;
  }
  25% {
    background-position: 100% 0%;
    background-size: 300% 300%;
  }
  50% {
    background-position: 100% 100%;
    background-size: 200% 200%;
  }
  75% {
    background-position: 0% 100%;
    background-size: 300% 300%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 200% 200%;
  }
}
.animated-gradient {
  background: linear-gradient(20deg, #fbbf24, #f9a8d4, #60a5fa, #a78bfa, #34d399, #a3f871, #fcd34d, #00e686);  background-size: 200% 200%;
  animation: gradient-flow 8s ease infinite;
  background-size: 800% 800%;
}